<div class="jumbotron">
    <h1 class="display-4">Typescript App!</h1>
    <p class="lead">This is Payme Task Smart Search App.</p>
    <hr class="my-4">
    <p>There users and addresses.</p>
    <a class="btn btn-primary btn-lg" href="/users/list" role="button">
        Click it
    </a>
</div>