<div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="card">
            <div class="card-body">
                <form action="/users/search" method="POST">
                    <div class="form-group">
                        <input type="text" name="search" placeholder="Seach words with space and press Enter"
                            class="form-control" autofocus>
                    </div>
                    <button type="submit" class="btn btn-success btn-block">
                        Search
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>